In [1]:
import pandas as pd
import numpy as np

In [2]:
dfPublications = pd.read_csv('../data/output/output.csv', parse_dates=['created_on'], infer_datetime_format=True)

/home/franch/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dfPublications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542526 entries, 0 to 1542525
Data columns (total 21 columns):
created_on                    1542526 non-null datetime64[ns]
currency                      1457402 non-null object
expenses                      62433 non-null object
floor                         297678 non-null float64
geonames_id                   1263558 non-null float64
id                            1542526 non-null object
lat                           1185534 non-null float64
lon                           1185523 non-null float64
operation                     1542526 non-null object
place_name                    1542429 non-null object
place_with_parent_names       1542526 non-null object
price                         1462288 non-null float64
price_aprox_local_currency    1462286 non-null float64
price_aprox_usd               1462286 non-null float64
price_per_m2                  226511 non-null float64
price_usd_per_m2              1016463 non-null float64
property_type                 1542526 non-null object
rooms                         898609 non-null float64
state_name                    1542526 non-null object
surface_covered_in_m2         251752 non-null float64
surface_total_in_m2           1134390 non-null float64
dtypes: datetime64[ns](1), float64(12), object(8)
memory usage: 247.1+ MB