In [1]:
import numpy as np
import pandas as pd

### Primer acercamiento a Machine Learning (KNN)

In [2]:
dfTest = pd.read_csv('../data/TEST/properati_dataset_testing_noprice.csv')
dfTrain = pd.read_csv('../data/output_2/output_2.csv')

In [3]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      13005 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [4]:
dfTest.operation.unique()

array(['venta', 'alquiler'], dtype=object)

In [15]:
dfTest.loc[dfTest.state_name.str.contains('Interior')]

,id,created_on,property_type,operation,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses,description
1,3633,2017-08-25,departamento,venta,Buenos Aires Interior,|Argentina|Buenos Aires Interior|,Argentina,Buenos Aires Interior,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,El departamento cuenta con un living-comedor a...

In [9]:
dfTrain.state_name.unique()

array(['Bs.As. G.B.A. Zona Oeste', 'Capital Federal',
       'Bs.As. G.B.A. Zona Norte', 'Bs.As. G.B.A. Zona Sur'], dtype=object)

In [17]:
dfTest.property_type.unique()

array(['departamento', 'ph', 'casa'], dtype=object)

In [18]:
dfTrain.property_type.unique()

array(['apartment', 'house', 'PH', 'store'], dtype=object)

In [19]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462286 entries, 0 to 1462285
Data columns (total 18 columns):
id                            1462286 non-null object
created_on                    1462286 non-null object
property_type                 1462286 non-null object
place_name                    1462286 non-null object
state_name                    1462286 non-null object
lat                           1122304 non-null float64
lon                           1122293 non-null float64
price                         1462286 non-null float64
currency                      1457400 non-null object
price_aprox_local_currency    1462286 non-null float64
price_aprox_usd               1462286 non-null float64
surface_total_in_m2           1079918 non-null float64
surface_covered_in_m2         233333 non-null float64
price_usd_per_m2              1016393 non-null float64
price_per_m2                  226511 non-null float64
floor                         289280 non-null float64
rooms                         850559 non-null float64
expenses                      654066 non-null float64
dtypes: float64(12), object(6)
memory usage: 200.8+ MB