In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsRegressor
import geopy.distance

### Primer acercamiento a Machine Learning (KNN)

In [2]:
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected/test_corrected.csv')
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected/train_corrected.csv')
dfExternalCoords = pd.read_csv('../data/externalData/coordenadas_barrios.csv')

In [3]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 11 columns):
id                     14166 non-null int64
year_created           14166 non-null int64
month_created          14166 non-null int64
day_created            14166 non-null int64
property_type          14166 non-null object
place_name             14166 non-null object
state_name             14166 non-null object
lat                    10487 non-null float64
lon                    10487 non-null float64
surface_total_in_m2    11853 non-null float64
rooms                  7501 non-null float64
dtypes: float64(4), int64(4), object(3)
memory usage: 1.2+ MB

In [4]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004797 entries, 0 to 1004796
Data columns (total 12 columns):
id                     1004797 non-null object
year_created           1004797 non-null int64
month_created          1004797 non-null int64
day_created            1004797 non-null int64
property_type          1004797 non-null object
place_name             1004797 non-null object
state_name             1004797 non-null object
lat                    743693 non-null float64
lon                    743682 non-null float64
surface_total_in_m2    1004797 non-null float64
rooms                  594683 non-null float64
price_aprox_usd        1004797 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 92.0+ MB

In [5]:
dfExternalCoords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 4 columns):
place                        438 non-null object
lat                          435 non-null float64
lon                          435 non-null float64
distance_to_obelisco_mtrs    435 non-null float64
dtypes: float64(3), object(1)
memory usage: 13.8+ KB

In [6]:
# Filtro los 3 registros de los cuales no tengo informacion de location
dfExternalCoords = dfExternalCoords.loc[pd.notnull(dfExternalCoords.lat)]
dfExternalCoords.head()

                      place        lat        lon  distance_to_obelisco_mtrs
0    Country Club Las lajas -34.590190 -58.933716               50672.525719
1  Barrio Cerrado El Lucero -34.422229 -58.763899               40471.776026
2                 Caballito -34.620928 -58.445874                6198.266937
3     Gregorio de Laferrere -34.749748 -58.584591               24668.602907
4                  Acassuso -34.477361 -58.499270               17699.585005

## ToDo:
+ Resolver NaN's en lat / lon con externalData.
+ Reemplazar place_name con distancia al obelisco.
+ Z-codes Standardization.
+ OneHotEncode property_type y state_name.
+ Make Submit & Comparison
+ Cross Validation K-Folds -> Make Submit & Comparison

In [7]:
dfTrain.head(2)

,id,year_created,month_created,day_created,property_type,place_name,state_name,lat,lon,surface_total_in_m2,rooms,price_aprox_usd
0,1771e4252915a911b8eb4964cde2790d5623bd33,2013,8,28,apartment,Caseros,Bs.As. G.B.A. Zona Oeste,-34.600116,-58.565334,62.0,3.0,130650.48
1,d63560d1f8f797a6d412814a27ec570beafb9d90,2013,8,28,apartment,Villa Crespo,Capital Federal,-34.597274,-58.439479,44.0,2.0,78500.00

In [8]:
dfTest.head(2)

,id,year_created,month_created,day_created,property_type,place_name,state_name,lat,lon,surface_total_in_m2,rooms
0,3632,2017,8,24,apartment,Puerto Madero,Capital Federal,-34.610988,-58.363464,0.0,NaN
1,3633,2017,8,25,apartment,Palermo,Capital Federal,NaN,NaN,0.0,2.0

___
### Corriendo el primer KNN

In [9]:
dfUtil = dfTrain.loc[:, ('place_name', 'year_created')]\
                .groupby(by='place_name')\
                .count().reset_index()\
                .sort_values(by='year_created', ascending=False)\
                .rename(columns={'year_created':'place_ocurrences'})
print 'Cantidad de barrios con menos de 100 publicaciones:', dfUtil.loc[dfUtil.place_ocurrences < 100, ('place_ocurrences')].sum()

Cantidad de barrios con menos de 100 publicaciones: 7957

In [10]:
# ONE-TO-K ENCODING: PROPERTY_TYPE
prop_type_labelEncoder = preprocessing.LabelEncoder()
prop_type_labelEncoder.fit(np.array(list(dfTrain.property_type.unique()), dtype='object'))

trainPropTypeIntEncoded = prop_type_labelEncoder.transform(dfTrain.property_type)
testPropTypeIntEncoded = prop_type_labelEncoder.transform(dfTest.property_type)

enc = preprocessing.OneHotEncoder(sparse=False)
matrixTrainPropTypeEnc = enc.fit_transform(trainPropTypeIntEncoded.reshape(len(trainPropTypeIntEncoded), 1))
matrixTestPropTypeEnc = enc.transform(testPropTypeIntEncoded.reshape(len(testPropTypeIntEncoded), 1))

oneHotCodeCategoriesTrain = pd.DataFrame(matrixTrainPropTypeEnc, columns=prop_type_labelEncoder.classes_)
oneHotCodeCategoriesTest = pd.DataFrame(matrixTestPropTypeEnc, columns=prop_type_labelEncoder.classes_)

dfTrain = pd.concat([dfTrain.reset_index(drop=True), oneHotCodeCategoriesTrain.reset_index(drop=True)], 
                     axis=1).drop('property_type', axis=1)

dfTest = pd.concat([dfTest.reset_index(drop=True), oneHotCodeCategoriesTest.reset_index(drop=True)],
                    axis=1).drop('property_type', axis=1)

In [11]:
dfTrain.head(2)

,id,year_created,month_created,day_created,place_name,state_name,lat,lon,surface_total_in_m2,rooms,price_aprox_usd,PH,apartment,house,store
0,1771e4252915a911b8eb4964cde2790d5623bd33,2013,8,28,Caseros,Bs.As. G.B.A. Zona Oeste,-34.600116,-58.565334,62.0,3.0,130650.48,0.0,1.0,0.0,0.0
1,d63560d1f8f797a6d412814a27ec570beafb9d90,2013,8,28,Villa Crespo,Capital Federal,-34.597274,-58.439479,44.0,2.0,78500.00,0.0,1.0,0.0,0.0

In [12]:
dfTest.head(2)

,id,year_created,month_created,day_created,place_name,state_name,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store
0,3632,2017,8,24,Puerto Madero,Capital Federal,-34.610988,-58.363464,0.0,NaN,0.0,1.0,0.0,0.0
1,3633,2017,8,25,Palermo,Capital Federal,NaN,NaN,0.0,2.0,0.0,1.0,0.0,0.0

### Reemplazo de place_name y state_name por distancia al obelisco
> + Si tiene lat y lon la dejo y calculo su distancia al obelisco.
> + Si no tiene lat y lon, las estraigo de los datos externos traidos de Gmaps

In [13]:
# Agrego un entero para poder volver al orden original luego de el procesamiento
dfTrain.loc[:, ('order')] = pd.Series(xrange(len(dfTrain)))
dfTest.loc[:, ('order')] = pd.Series(xrange(len(dfTest)))

In [14]:
# Calculo distancias al obelisco en donde pueda y en las otras dejo NaN :

def distanceToObeliscoMeters(seriesLat, seriesLon) :
    distance_2_obelisco = []
    obelisco = (-34.6037389, -58.3815704)
    
    for lat, lon in zip(seriesLat, seriesLon) :        
        dist_m = np.nan if (pd.isnull(lat) or pd.isnull(lon)) else geopy.distance.vincenty(obelisco, (lat, lon)).m
        distance_2_obelisco.append(dist_m)
        
    return pd.Series(distance_2_obelisco)

distancesObeliscoTrain = distanceToObeliscoMeters(dfTrain.lat, dfTrain.lon)
distancesObeliscoTest = distanceToObeliscoMeters(dfTest.lat, dfTest.lon)
dfTrain.insert(column='distance_to_obelisco_mtrs', loc=4, value=distancesObeliscoTrain)
dfTest.insert(column='distance_to_obelisco_mtrs', loc=4, value=distancesObeliscoTest)

In [15]:
dfUpdateTrain = dfTrain.loc[pd.isnull(dfTrain.distance_to_obelisco_mtrs)].rename(columns={'place_name':'place'})\
                                                                         .merge(dfExternalCoords, how='inner', on=['place'])\
                                                                         .drop(['lat_x', 'lon_x', 'distance_to_obelisco_mtrs_x'], axis=1)\
                                                                         .rename(columns={'lat_y':'lat', 'lon_y':'lon', 'distance_to_obelisco_mtrs_y':'distance_to_obelisco_mtrs'})
            
dfUpdateTest = dfTest.loc[pd.isnull(dfTest.distance_to_obelisco_mtrs)].rename(columns={'place_name':'place'})\
                                                                      .merge(dfExternalCoords, how='inner', on=['place'])\
                                                                      .drop(['lat_x', 'lon_x', 'distance_to_obelisco_mtrs_x'], axis=1)\
                                                                      .rename(columns={'lat_y':'lat', 'lon_y':'lon', 'distance_to_obelisco_mtrs_y':'distance_to_obelisco_mtrs'})

In [16]:
dfTrain.set_index('id', drop=True, inplace=True)
dfTest.set_index('id', drop=True, inplace=True)
dfUpdateTrain.set_index('id', drop=True, inplace=True)
dfUpdateTest.set_index('id', drop=True, inplace=True)
dfTrain.update(dfUpdateTrain)
dfTest.update(dfUpdateTest)

dfTrain = dfTrain.reset_index().sort_values(by='order').drop(['place_name', 'state_name', 'order'], axis=1)
dfTest = dfTest.reset_index().sort_values(by='order').drop(['place_name', 'state_name', 'order'], axis=1)

In [17]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004797 entries, 0 to 1004796
Data columns (total 14 columns):
id                           1004797 non-null object
year_created                 1004797 non-null float64
month_created                1004797 non-null float64
day_created                  1004797 non-null float64
distance_to_obelisco_mtrs    1004777 non-null float64
lat                          1004777 non-null float64
lon                          1004777 non-null float64
surface_total_in_m2          1004797 non-null float64
rooms                        594683 non-null float64
price_aprox_usd              1004797 non-null float64
PH                           1004797 non-null float64
apartment                    1004797 non-null float64
house                        1004797 non-null float64
store                        1004797 non-null float64
dtypes: float64(13), object(1)
memory usage: 115.0+ MB

In [18]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14166 entries, 0 to 14165
Data columns (total 13 columns):
id                           14166 non-null int64
year_created                 14166 non-null float64
month_created                14166 non-null float64
day_created                  14166 non-null float64
distance_to_obelisco_mtrs    14166 non-null float64
lat                          14166 non-null float64
lon                          14166 non-null float64
surface_total_in_m2          11853 non-null float64
rooms                        7501 non-null float64
PH                           14166 non-null float64
apartment                    14166 non-null float64
house                        14166 non-null float64
store                        14166 non-null float64
dtypes: float64(12), int64(1)
memory usage: 1.5 MB

### Lleno los valores faltantes (NaN's) con la clase predominante en esa columna

In [19]:
imp = preprocessing.Imputer(missing_values='NaN', strategy='most_frequent')
imp.fit(dfTrain[['rooms']])
dfTrain.rooms = imp.transform(dfTrain[['rooms']]).ravel()

imp = preprocessing.Imputer(missing_values='NaN', strategy='most_frequent')
imp.fit(dfTest[['rooms']])
dfTest.rooms = imp.transform(dfTest[['rooms']]).ravel()

imp = preprocessing.Imputer(missing_values='NaN', strategy='mean')
imp.fit(dfTest[['surface_total_in_m2']])
dfTest.surface_total_in_m2 = imp.transform(dfTest[['surface_total_in_m2']]).ravel()

In [20]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004797 entries, 0 to 1004796
Data columns (total 14 columns):
id                           1004797 non-null object
year_created                 1004797 non-null float64
month_created                1004797 non-null float64
day_created                  1004797 non-null float64
distance_to_obelisco_mtrs    1004777 non-null float64
lat                          1004777 non-null float64
lon                          1004777 non-null float64
surface_total_in_m2          1004797 non-null float64
rooms                        1004797 non-null float64
price_aprox_usd              1004797 non-null float64
PH                           1004797 non-null float64
apartment                    1004797 non-null float64
house                        1004797 non-null float64
store                        1004797 non-null float64
dtypes: float64(13), object(1)
memory usage: 115.0+ MB

In [21]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14166 entries, 0 to 14165
Data columns (total 13 columns):
id                           14166 non-null int64
year_created                 14166 non-null float64
month_created                14166 non-null float64
day_created                  14166 non-null float64
distance_to_obelisco_mtrs    14166 non-null float64
lat                          14166 non-null float64
lon                          14166 non-null float64
surface_total_in_m2          14166 non-null float64
rooms                        14166 non-null float64
PH                           14166 non-null float64
apartment                    14166 non-null float64
house                        14166 non-null float64
store                        14166 non-null float64
dtypes: float64(12), int64(1)
memory usage: 1.5 MB

In [22]:
dfTrain.head()

,id,year_created,month_created,day_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,price_aprox_usd,PH,apartment,house,store
0,1771e4252915a911b8eb4964cde2790d5623bd33,2013.0,8.0,28.0,16861.066565,-34.600116,-58.565334,62.0,3.0,130650.48,0.0,1.0,0.0,0.0
1,d63560d1f8f797a6d412814a27ec570beafb9d90,2013.0,8.0,28.0,5360.128545,-34.597274,-58.439479,44.0,2.0,78500.00,0.0,1.0,0.0,0.0
2,486c44c6ae60cc40aa7aac085bf20a83a3e68e0e,2013.0,8.0,28.0,52335.901227,-34.602089,-58.952129,150.0,2.0,243081.79,0.0,0.0,1.0,0.0
3,3310de102f192c4a03a415e3f648799caef02da7,2013.0,8.0,28.0,6330.619537,-34.567401,-58.434775,250.0,4.0,710000.00,0.0,1.0,0.0,0.0
4,005481f73ee4472d5c42f326537cc319af2a5f40,2013.0,8.0,28.0,7561.524039,-34.626409,-58.459324,40.0,1.0,110714.41,0.0,1.0,0.0,0.0

In [23]:
dfTest.head()

,id,year_created,month_created,day_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store
0,3632,2017.0,8.0,24.0,1.845233e+03,-34.610988,-58.363464,0.0,3.0,0.0,1.0,0.0,0.0
1,3633,2017.0,8.0,25.0,1.093342e+07,38.115688,13.361267,0.0,2.0,0.0,1.0,0.0,0.0
2,2263404,2017.0,8.0,1.0,3.285172e+03,-34.589363,-58.412880,53.0,3.0,0.0,1.0,0.0,0.0
3,2263405,2017.0,8.0,1.0,5.666115e+06,9.986682,-84.770722,39.0,3.0,0.0,1.0,0.0,0.0
4,2263406,2017.0,8.0,1.0,5.666115e+06,9.986682,-84.770722,51.0,3.0,0.0,1.0,0.0,0.0

In [24]:
# Genero TRAIN y TARGET
dfTrain = dfTrain.rename(columns={'price_aprox_usd':'price_usd'}).dropna()
target = dfTrain.price_usd
train = dfTrain.drop(['price_usd', 'id'], axis=1)

testIds = dfTest.loc[:, ('id')]
testVals = dfTest.drop('id', axis=1)

In [25]:
print (len(target), len(train))
print (len(testIds), len(testVals))

(1004777, 1004777)
(14166, 14166)

In [26]:
knn = KNeighborsRegressor(n_neighbors=30, weights='distance', 
                          algorithm='kd_tree', leaf_size=30, 
                          metric='euclidean', n_jobs=-1)

knn.fit(train, target)

KNeighborsRegressor(algorithm='kd_tree', leaf_size=30, metric='euclidean',
          metric_params=None, n_jobs=-1, n_neighbors=30, p=2,
          weights='distance')

In [27]:
predictions = knn.predict(testVals)

In [28]:
result = pd.DataFrame({'id':testIds, 'price_usd':predictions})
result.head()

        id      price_usd
0     3632   66557.967643
1     3633  102211.161832
2  2263404  125685.027454
3  2263405   81392.830904
4  2263406  110329.124334

In [29]:
result.to_csv('../data/predictions/2nd_acercamiento.csv', index=False)

### Guardo Train y Test para el proximo aproximamiento

In [32]:
dfTrain.head(1)

,id,year_created,month_created,day_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,price_usd,PH,apartment,house,store
0,1771e4252915a911b8eb4964cde2790d5623bd33,2013.0,8.0,28.0,16861.066565,-34.600116,-58.565334,62.0,3.0,130650.48,0.0,1.0,0.0,0.0

In [33]:
dfTest.head(1)

,id,year_created,month_created,day_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store
0,3632,2017.0,8.0,24.0,1845.232682,-34.610988,-58.363464,0.0,3.0,0.0,1.0,0.0,0.0

In [34]:
# EXPORTO los CSV's listos para la 3er aproximacion

dfTrain.to_csv('../data/TRAIN_TEST_corrected2/train_corrected2.csv', index=False)
dfTest.to_csv('../data/TRAIN_TEST_corrected2/test_corrected2.csv', index=False)