In [59]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVR

In [60]:
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected3/train_corrected3.csv')
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected3/test_corrected3.csv')

train = dfTrain.drop(['price_usd', 'id'], axis=1)
target = dfTrain.price_usd

test = dfTest.drop(['id'], axis=1)
test_ids = dfTest.id

In [61]:
# DATA SCALING

scaler = StandardScaler()
train = pd.DataFrame(scaler.fit_transform(train), columns=train.columns)
test = pd.DataFrame(scaler.transform(test), columns=test.columns)

In [62]:
# ENTRENAMIENTO

svr = LinearSVR(C=10)
svr.fit(train, target)

LinearSVR(C=10, dual=True, epsilon=0.0, fit_intercept=True,
     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
     random_state=None, tol=0.0001, verbose=0)

In [63]:
# PREDICCION

predictions = svr.predict(test)
result = pd.DataFrame({'id':test_ids, 'price_usd':predictions})

In [64]:
result.head()

        id      price_usd
0     3632  149214.740151
1     3633  112837.433544
2  2263404  167309.108432
3  2263405  144554.991768
4  2263406  147650.496704

In [65]:
result.describe()

                 id     price_usd
count  1.416600e+04  1.416600e+04
mean   2.285382e+06  1.878247e+05
std    4.290968e+04  3.476868e+05
min    3.632000e+03  5.645540e+04
25%    2.271809e+06  1.519815e+05
50%    2.290284e+06  1.720825e+05
75%    2.309395e+06  2.008569e+05
max    2.332338e+06  3.835992e+07

In [66]:
result.to_csv('../data/predictions/LinearSVR_Undated_Scored_Scaled_10C.csv', index=False)