In [20]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [21]:
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected2/train_corrected2.csv')
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected2/test_corrected2.csv')

train = dfTrain.drop(['id', 'price_usd', 'day_created', 'month_created'], axis=1)
test = dfTest.drop(['id', 'day_created', 'month_created'], axis=1)

target = dfTrain.price_usd
test_ids = dfTest.id

In [22]:
train.head(3)

,year_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store
0,2013.0,16861.066565,-34.600116,-58.565334,62.0,3.0,0.0,1.0,0.0,0.0
1,2013.0,5360.128545,-34.597274,-58.439479,44.0,2.0,0.0,1.0,0.0,0.0
2,2013.0,52335.901227,-34.602089,-58.952129,150.0,2.0,0.0,0.0,1.0,0.0

In [23]:
test.head(3)

,year_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store
0,2017.0,1.845233e+03,-34.610988,-58.363464,0.0,3.0,0.0,1.0,0.0,0.0
1,2017.0,1.093342e+07,38.115688,13.361267,0.0,2.0,0.0,1.0,0.0,0.0
2,2017.0,3.285172e+03,-34.589363,-58.412880,53.0,3.0,0.0,1.0,0.0,0.0

In [24]:
knn = KNeighborsRegressor(n_neighbors=40, weights='distance', 
                          metric='manhattan', n_jobs=-1)

knn.fit(train, target)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=-1, n_neighbors=40, p=2,
          weights='distance')

In [25]:
predictions = knn.predict(test)

In [26]:
result = pd.DataFrame({'id':test_ids, 'price_usd':predictions})

In [27]:
result.head(10)

        id      price_usd
0     3632   70043.872788
1     3633  105132.836330
2  2263404  131648.991706
3  2263405   84668.987366
4  2263406  104134.641970
5  2263407   84668.987366
6  2263408   84668.987366
7  2263409   84668.987366
8  2263410  177820.946561
9  2263411  116990.912480

In [28]:
result.to_csv('../data/predictions/knn_OnlyYear_Unscaled_40k.csv', index=False)