In [2]:
import pandas as pd
import numpy as np

In [3]:
dfScores = pd.read_csv('../data/externalData/scoresOfInterest.csv')
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected2/train_corrected2.csv')
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected2/test_corrected2.csv')

In [4]:
dfTrain.head(1)

,id,year_created,month_created,day_created,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,price_usd,PH,apartment,house,store
0,1771e4252915a911b8eb4964cde2790d5623bd33,2013.0,8.0,28.0,16861.066565,-34.600116,-58.565334,62.0,3.0,130650.48,0.0,1.0,0.0,0.0

In [ ]:
dfTest.head()