In [9]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [10]:
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected3/train_corrected3.csv')
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected3/test_corrected3.csv')

train = dfTrain.drop(['id', 'price_usd', 'day_created', 'month_created', 'year_created'], axis=1)
test = dfTest.drop(['id', 'day_created', 'month_created', 'year_created'], axis=1)

target = dfTrain.price_usd
test_ids = dfTest.id

In [11]:
train.head(3)

,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store,entorno_score
0,16861.066565,-34.600116,-58.565334,62.0,3.0,0.0,1.0,0.0,0.0,1.000000
1,5360.128545,-34.597274,-58.439479,44.0,2.0,0.0,1.0,0.0,0.0,574.406311
2,52335.901227,-34.602089,-58.952129,150.0,2.0,0.0,0.0,1.0,0.0,1.000000

In [12]:
test.head(3)

,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store,entorno_score
0,1.845233e+03,-34.610988,-58.363464,0.0,3.0,0.0,1.0,0.0,0.0,107.626361
1,1.093342e+07,38.115688,13.361267,0.0,2.0,0.0,1.0,0.0,0.0,1.000000
2,3.285172e+03,-34.589363,-58.412880,53.0,3.0,0.0,1.0,0.0,0.0,602.414005

In [13]:
knn = KNeighborsRegressor(n_neighbors=80, weights='distance', 
                          metric='manhattan', n_jobs=-1)

knn.fit(train, target)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=-1, n_neighbors=80, p=2,
          weights='distance')

In [14]:
predictions = knn.predict(test)

In [15]:
result = pd.DataFrame({'id':test_ids, 'price_usd':predictions})

In [16]:
result.head(10)

        id      price_usd
0     3632  320279.540247
1     3633   94328.327505
2  2263404  126706.531582
3  2263405   82957.967491
4  2263406  106108.625803
5  2263407   82957.967491
6  2263408   82957.967491
7  2263409   82957.967491
8  2263410  131000.777593
9  2263411  109775.983260

In [17]:
result.to_csv('../data/predictions/knn_Undated_Scored_80k.csv', index=False)