In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import BayesianRidge
from sklearn.preprocessing import StandardScaler

In [7]:
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected3/train_corrected3.csv')
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected3/test_corrected3.csv')

train = dfTrain.drop(['id', 'price_usd', 'day_created', 'month_created', 'year_created'], axis=1)
scaler = StandardScaler()
train = pd.DataFrame(scaler.fit_transform(train), columns=train.columns)
test = dfTest.drop(['id', 'day_created', 'month_created', 'year_created'], axis=1)
test = pd.DataFrame(scaler.transform(test), columns=test.columns)

target = dfTrain.price_usd
test_ids = dfTest.id

In [8]:
train.head(3)

,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store,entorno_score
0,-0.254778,-0.257360,0.179151,-0.355479,0.566074,-0.253632,0.851851,-0.725942,-0.123193,-0.638058
1,-0.260130,-0.257184,0.189939,-0.397511,-0.346374,-0.253632,0.851851,-0.725942,-0.123193,1.418856
2,-0.238270,-0.257482,0.145996,-0.149989,-0.346374,-0.253632,-1.173914,1.377521,-0.123193,-0.638058

In [9]:
test.head(3)

,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store,entorno_score
0,-0.261765,-0.258032,0.196455,-0.500257,0.566074,-0.253632,0.851851,-0.725942,-0.123193,-0.255570
1,4.825094,4.239091,6.344510,-0.500257,-0.346374,-0.253632,0.851851,-0.725942,-0.123193,-0.638058
2,-0.261095,-0.256695,0.192219,-0.376495,0.566074,-0.253632,0.851851,-0.725942,-0.123193,1.519325

In [10]:
bayes = BayesianRidge(alpha_1=1, alpha_2=0.1, n_iter=500)
bayes.fit(train, target)

BayesianRidge(alpha_1=1, alpha_2=0.1, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=500,
       normalize=False, tol=0.001, verbose=False)

In [11]:
predictions = bayes.predict(test)

In [12]:
result = pd.DataFrame({'id':test_ids, 'price_usd':predictions})

In [13]:
result.head(100)

         id      price_usd
0      3632  193529.418354
1      3633  171666.197527
2   2263404  216837.542572
3   2263405  187557.657128
4   2263406  190299.784701
5   2263407  187557.657128
6   2263408  187557.657128
7   2263409  187557.657128
8   2263410  209138.061473
9   2263411  185346.470797
10  2263412  185346.470797
11  2263413  185346.470797
12  2263415  206161.655871
13  2263416  230735.442270
14  2263417  213161.295734
15  2263418  213161.295734
16  2263419  213161.295734
17  2263420  213161.295734
18  2263421  213161.295734
19  2263422  213161.295734
20  2263423  213161.295734
21  2263424  213161.295734
22  2263425  215674.912675
23  2263426  215903.423306
24  2263427  215903.423306
25  2263428  215903.423306
26  2263429  215903.423306
27  2263430  213161.295734
28  2263431  213161.295734
29  2263432  209104.534566
..      ...            ...
70  2264183  237317.051236
71  2264189  219993.810956
72  2264198  271904.944434
73  2264199  160997.688041
74  2264206  237317.051236
75  2264212  237317.051236
76  2264215  237317.051236
77  2264218  237317.051236
78  2264219  215263.663872
79  2264221  237317.051236
80  2264227  244629.391429
81  2264229  215263.663872
82  2264234  249885.135943
83  2264240  230528.539413
84  2264242  238550.045167
85  2264248  202535.167798
86  2264249  216484.270223
87  2264259  208543.312485
88  2264265  249428.114681
89  2264270  238417.090926
90  2264272  160732.205358
91  2264274  230615.969644
92  2264284  214973.364648
93  2264285  205147.407514
94  2264286  205147.407514
95  2264290  270369.904942
96  2264296  274717.193227
97  2264298  238993.432635
98  2264305  234585.906024
99  2264312  282980.547996

[100 rows x 2 columns]

In [14]:
result.to_csv('../data/predictions/BayesianRidge_Undated_Scored_1_0.1.csv', index=False)