In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [2]:
dfTrain = pd.read_csv('../data/TRAIN_TEST_corrected3/train_corrected3.csv')
dfTest = pd.read_csv('../data/TRAIN_TEST_corrected3/test_corrected3.csv')

train = dfTrain.drop(['id', 'price_usd', 'day_created', 'month_created', 'year_created'], axis=1)
test = dfTest.drop(['id', 'day_created', 'month_created', 'year_created'], axis=1)

target = dfTrain.price_usd
test_ids = dfTest.id

In [3]:
train.head(3)

,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store,entorno_score
0,16861.066565,-34.600116,-58.565334,62.0,3.0,0.0,1.0,0.0,0.0,1.000000
1,5360.128545,-34.597274,-58.439479,44.0,2.0,0.0,1.0,0.0,0.0,574.406311
2,52335.901227,-34.602089,-58.952129,150.0,2.0,0.0,0.0,1.0,0.0,1.000000

In [4]:
test.head(3)

,distance_to_obelisco_mtrs,lat,lon,surface_total_in_m2,rooms,PH,apartment,house,store,entorno_score
0,1.845233e+03,-34.610988,-58.363464,0.0,3.0,0.0,1.0,0.0,0.0,107.626361
1,1.093342e+07,38.115688,13.361267,0.0,2.0,0.0,1.0,0.0,0.0,1.000000
2,3.285172e+03,-34.589363,-58.412880,53.0,3.0,0.0,1.0,0.0,0.0,602.414005

In [5]:
knn = KNeighborsRegressor(n_neighbors=30, weights='distance', 
                          metric='manhattan', n_jobs=-1)

knn.fit(train, target)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=-1, n_neighbors=30, p=2,
          weights='distance')

In [6]:
predictions = knn.predict(test)

In [7]:
result = pd.DataFrame({'id':test_ids, 'price_usd':predictions})

In [8]:
result.head(10)

        id      price_usd
0     3632  273702.145192
1     3633  108972.654412
2  2263404  131335.175237
3  2263405   83009.468750
4  2263406   96049.861961
5  2263407   83009.468750
6  2263408   83009.468750
7  2263409   83009.468750
8  2263410  135803.791001
9  2263411  111184.738667

In [9]:
result.to_csv('../data/predictions/knn_Undated_Scored_30k.csv', index=False)